/* header {
  background-color: rgba(253, 253, 253, 1);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
} */

/* codigo rafael teste*/
nav {
  position: fixed;
  height: 76px;
  width: 100vw;
  /* background-color: #000; */
  background-color: rgba(253, 253, 253, 1);
  color: rgb(49 97 55 / 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

nav div {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
nav div button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 5px;
  width: auto;
  background-color: transparent;
  color: var(--NavTextColor);
  border: none;
  border-bottom: 5px transparent solid;
  cursor: pointer;
  transition: 0.5s;
}
nav div button:hover {
  color: rgba(19, 216, 45, 0.6);
}

nav div hr {
  display: flex;
  position: absolute;
  top: 45px;
  height: 5px;
  width: 60px;
  border: none;
  background-color: rgb(49 97 55 / 60%);
  transition: 0.5s;
}

#BtnSobre:hover > #ExtraSobre {
  opacity: 1;
  visibility: visible;
  margin: 0;
}

#ExtraSobre {
  transition: 0.5s;
  opacity: 0;
  width: 80px;
  height: auto;
  margin: 10px;
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgba(253, 253, 253, 1);
  grid-gap: 5px;
}
#ExtraSobre a {
  text-decoration: none;
  color: rgb(49 97 55 / 60%);
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid transparent;
}
#ExtraSobre :hover {
  transition: 0.5s;
  /* color: rgba(9, 46, 14, 0.9); */
  /* color: rgba(120, 172, 127, 90%); */
  color: rgba(19, 216, 45, 0.6);
  border-bottom: 3px solid rgba(160, 218, 168, 0.6);
}

/* fim teste */

/* button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin-right: 16px;
  align-items: center;
  font-size: 22px;
} */

.logo {
  width: 52px;
  height: 52px;
  margin: 10px;
}
/* 
header > ul > li > a {
  text-decoration: none;
  color: black;
} */

body {
  /* background-color: rgba(156, 233, 166, 0.6); */
  background-color: rgb(49 97 55 / 60%);
  margin: auto;
  /* display: flex; */
  /* justify-content: center; */
  /* font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;*/
}

::-webkit-scrollbar-track {
  border: 1px solid #000;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #ebd343f2;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
}
.title > img {
  width: 360px;
  height: 150px;
}

.conteudo::first-letter {
  color: #ebd343f2;
  font-size: 176%;
}

/* .main {
  background: #ffffff;
  margin-top: 102px;
  border-radius: 10px;
  width: 720px;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
}

.main > article {
  padding: 32px;
}

.sol {
  width: 212px;
}

.painel {
  width: 300px;
  height: 300px;
} */
